<html>
    <h1>
        {{ .title }}
    </h1>

    {{ range .services }}
        {{if contains .Data .filtered}}
            <div>
                <a href="service/{{ .ID }}"> 
                    <div>
                        {{ .ID }} 
                        {{ .Data }} 
                    </div>
                </a>
            </div>
        {{ end }}
    {{ end }}

    <form>
        <input type="text" name="text" class="search" placeholder="Search here!" />
        <input action="/filter" type="submit" name="text" class="search" value="Search here!" />
    </form>
</html>
