<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div>
            <li><a href="/">{{ .title }}</a></li>
        </div>
    </nav>

    <form action="/" class="search">
        <input type="text" name="dataname" class="search" value="{{ .filtered }}" placeholder="Поиск" />
        {{if .filtered}}
            <h3>Search: {{ .filtered }} </h3>
        {{end}}
    </form>

    <div class="cards">
        {{ range .services }}
            <a href="service/{{ .DataID }}" class="card">
                <div>
                    <div class = title> {{ .DataName }} </div>
                    <div> ID: {{ .DataID }} </div>
                    <div style='width: 100%;'>{{ .Blob }}</div> 
                </div>
            </a>
        {{ end }}
    </div>

    <footer>
        <p>2023 ШИФРОВАННЯ/ДЕШИФРОВАННЯ ДЛЯ БУДЬ-КОГО СВІТУ 2023</p>
    </footer>

</body>
</html>
