<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div>
            <li><a href="/">Шифрование кодом для коррекции ошибок</a></li>
        </div>
    </nav>

    <div class="service_card">
    {{ if .active }}
        <h1>
            {{ .name }}
        </h1>

        <h2>
            ID: {{ .id }}
        </h2>
        <h2>
            {{ if .encode }}
                Зашифрованные данные
            {{ else }}
                Исходные данные
            {{ end }}
        </h2>
        <h2>
            Данные: {{ .blob }}
        </h2>
    {{ else }}
    <h1> Данные удалены </h1>
    {{ end }}
    </div>

    <footer>
        <p>2023 ШИФРОВАННЯ/ДЕШИФРОВАННЯ ДЛЯ БУДЬ-КОГО СВІТУ 2023</p>
    </footer>
</body>
</html>