<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div>
            <li><a href="/">Шифрование кодом для коррекции ошибок</a></li>
        </div>
    </nav>

    <h1>
        {{ .name }}
    </h1>

    <h2>
        Blob: {{ .blob }}
    </h2>

    <footer>
        <p>2023 ENCRYPT/DECRYPT FOR ANYONE WORLDWIDE 2023</p>
    </footer>
</body>
</html>